.navbar-container {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    box-sizing: border-box;
}

.header-home-main {
    width: 100px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
}

.header-home-main h1 {
    font-size: 30px;
    color: #fff;
}

.menu {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.menu li a:hover {
    text-decoration: underline;
    transition: all 0.9s;
}

.menu li Link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.menu li Link:hover {
    text-decoration: underline;
    transition: all 0.9s;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 812px) {
    .navbar-container {
        width: 100vw;
        height: 12vh;
        box-sizing: border-box;
    }

    .header-home-main {
        width: 80%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-home-main h1 {
        font-size: 30px;
        color: #FDB827;
    }

    .mobile-menu {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .click-menu-mobile {
        width: 10%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 30px;
    }

    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 12vh;
        transition: 0.5s ease;
        left: -100%;
        opacity: 0;
        justify-content: space-around;
        align-items: center;
    }

    .menu.active {
        background-color: #FDB827;
        left: 0;
        opacity: 1;
        z-index: 1;
        align-content: center;
        transition: 0.5s ease;
    }

    .menu-link {
        height: 50px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu li a {
        color: #1F1F1F;
    }
}